extends layout 

block content
    h1=title
    h2=subtitle 
    ul 
        each val in jugadors 
            li= 'Nom: ' + val.nom +'  Punts: '+val.punts
    button(onclick="mostrarPartides();" id="btAnts") Partides anteriors
    h2="Login"
    div
        label nom del jugador
        input(type="text" id="tbNom" autofocus)
        label password
        input(type="password" id="tbPwd")
        button(onclick="enviarLogin();") Envia
        
    link(rel="stylesheet" href="./stylesheets/estil.css")
    script(src='./javascripts/logins.js')
    script(src="https://cdn.socket.io/socket.io-3.0.0.js")

