extends layout 

block content
    h1(id="h1")="Caselles joalro"
    h2(id="h2" style="display:none")=partida._id
    -let f = 0;
    -let c = 0;
    div(class="divtauler")
        table(id="taula" onclick="taulapulsadaClicked(event);")
            each fila in partida.tauler 
                tr
                    each columna in fila 
                        td(id=f+";"+c)
                        -c++;
                -f++;
                -c=0;
    label(id="lbestado")
    label(id="lbTemps")
    button(id="btFi" onclick="btFinalitzar_clicked();") Finalitzar
    link(rel="stylesheet" href="./stylesheets/estil.css")
    script(src='./javascripts/joc.js')
    script(src="https://cdn.socket.io/socket.io-3.0.0.js")
    script(type="text/javascript").
        socket = io('ws://'+ip+':3000');

        socket.on('EstatPartida', function(data) {
            redibuixaTauler(data); });

        socket.on('connect',()=>{
            let id = document.getElementById("h2").innerText;
            demanarEstatPartida(id);});
         
            
