extends layout

block content 
    h1=title
    h2=subtitle 
    ul(id='llistap')
        each val,index in partides 
            li(id='lipartida' style='font-size:2em')="Partida: " + (index+1) + " Temps: " + (Math.floor(val.temps/3600))+ ' h ' + (Math.floor((val.temps - (Math.floor(val.temps/3600))*3600)/60)) + " m " + (val.temps - (Math.floor((val.temps - (Math.floor(val.temps/3600))*3600)/60))*60) + " s "
                ul(style='font-size:0.75em')
                    li='Jugador 1: ' + val.jugadors[0].nom + " Punts: "+val.jugadors[0].punts
                    li='Jugador 2: ' + val.jugadors[1].nom + " Punts: "+val.jugadors[1].punts

    
    
    