body{
    background-color: darkseagreen;
}

h1{
    margin-top:0%;
    text-align:center;
    font-size:4em;
}
h2{
    text-align:center;
    font-size:3em;
}

input{
    display:block;
    margin:auto;
}

label{
    font-size:1.5em;
    display:block;
    text-align:center;
}

li{    
    font-size:2em;
    text-align:center;
}

/*
#llistap{    
    font-size:2em;
    text-align:center;
}
#lipartida{
    font-size:5em;
}
#llistap li{
    font-size:1em;
}
*/
button{
    font-size:2em;
    border-radius: 10px;
    display:block;
    margin:auto;
    margin-top:20px;
    background-color: green;
    color:chartreuse;
    border-color: chartreuse;
}
button:hover{
    background-color: chartreuse;
    color:green;
    border-color: green;
}


td{
    font-size:2em;
    width:30px;
    height:30px;
    border: 2px solid black;
}

.divtauler{
    margin:auto;
    margin-top:0%;
    /*background-color: blue;*/
    width:fit-content;
    height: fit-content;
}
.divcasella{
    display:inline;
    font-size:2em;
    width:100px;
    height:100px;
    border: 2px solid black;
    background-color: white;
}

#lbestado{
    position:absolute;
    left:75%;
    top:15%;
    width:17%;
    height:10%;
    vertical-align: middle;
}
#lbTemps{
    position:absolute;
    left:75%;
    top:35%;
    width:17%;
    height:10%;
    vertical-align: middle;
    font-size:2em;
}

#btFi{
    position:absolute;
    left:10%;
    font-size:1.5em;
    height: 8%;
    top:15%;
    background-color: coral;
    color:black;
    border:solid 2px red;
}

#btFi:hover{
    background-color: red;
}


